#search {
    margin-top: 10%;
    width: 80%;
    padding-left: 18%;
}
#foods img{
  
    height: 300px;
    width: 350px;
   
    
}
button{
    width: 225px;
}
#button{
    width:335px;
    margin-bottom: 20px;
}
#foods{
    margin-top: 100px;
}